# devnet | testnet | mainnet | localnet
VITE_NAMI_NETWORK=testnet

# Published Nami package ID after deployment
VITE_NAMI_PACKAGE_ID=0xYOUR_PACKAGE_ID_HERE

# Optional for localnet only
VITE_SUI_FULLNODE_URL=http://127.0.0.1:9000